services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/estore.sqlite:/app/estore.sqlite

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend